/* line 11, ../sass/plugins/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 17, ../sass/plugins/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 23, ../sass/plugins/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 27, ../sass/plugins/_reset.scss */
[hidden] {
  display: none;
}

/* line 31, ../sass/plugins/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing:border-box;

}

* {
  box-sizing:border-box;
  position: relative;
}

/* line 41, ../sass/plugins/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 46, ../sass/plugins/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 52, ../sass/plugins/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 56, ../sass/plugins/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 60, ../sass/plugins/_reset.scss */
a {
  text-decoration: none;
}

/* line 65, ../sass/plugins/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 69, ../sass/plugins/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 74, ../sass/plugins/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 78, ../sass/plugins/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 82, ../sass/plugins/_reset.scss */
dfn {
  font-style: italic;
}

/* line 86, ../sass/plugins/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, ../sass/plugins/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 101, ../sass/plugins/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 111, ../sass/plugins/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 117, ../sass/plugins/_reset.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 122, ../sass/plugins/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 128, ../sass/plugins/_reset.scss */
q {
  quotes: none;
}

/* line 133, ../sass/plugins/_reset.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 138, ../sass/plugins/_reset.scss */
small {
  font-size: 85%;
}

/* line 143, ../sass/plugins/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 150, ../sass/plugins/_reset.scss */
sup {
  top: -0.5em;
}

/* line 154, ../sass/plugins/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 159, ../sass/plugins/_reset.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 165, ../sass/plugins/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 169, ../sass/plugins/_reset.scss */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 175, ../sass/plugins/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 179, ../sass/plugins/_reset.scss */
figure {
  margin: 0;
}

/* line 183, ../sass/plugins/_reset.scss */
form {
  margin: 0;
}

/* line 187, ../sass/plugins/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 193, ../sass/plugins/_reset.scss */
label {
  cursor: pointer;
}

/* line 197, ../sass/plugins/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 207, ../sass/plugins/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 213, ../sass/plugins/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 220, ../sass/plugins/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 227, ../sass/plugins/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 232, ../sass/plugins/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 239, ../sass/plugins/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 247, ../sass/plugins/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 252, ../sass/plugins/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 257, ../sass/plugins/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 263, ../sass/plugins/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 268, ../sass/plugins/_reset.scss */
td {
  vertical-align: top;
}

/* line 272, ../sass/plugins/_reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 279, ../sass/plugins/_reset.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

@media print {
  /* line 288, ../sass/plugins/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 296, ../sass/plugins/_reset.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 300, ../sass/plugins/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 304, ../sass/plugins/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 310, ../sass/plugins/_reset.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 315, ../sass/plugins/_reset.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 320, ../sass/plugins/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* line 325, ../sass/plugins/_reset.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 329, ../sass/plugins/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 339, ../sass/plugins/_reset.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 345, ../sass/plugins/_reset.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 98, icon/*.png */
.icon-sprite, .icon-brian, .icon-nate, .icon-plus, .icon-plus_35, .icon-sarah, .icon-settings {
  background: url('/img/icon-s73ff2e73fa.png') no-repeat;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-brian {
  background-position: 0 -72px;
  height: 35px;
  width: 35px;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nate {
  background-position: 0 0;
  height: 35px;
  width: 35px;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-plus {
  background-position: 0 -108px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-plus_35 {
  background-position: 0 -239px;
  height: 35px;
  width: 35px;
}
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-plus_35:hover, .icon-plus_35.plus_35_hover, .icon-plus_35.plus_35-hover {
  background-position: 0 -186px;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-sarah {
  background-position: 0 -36px;
  height: 35px;
  width: 35px;
}

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-settings {
  background-position: 0 -169px;
  height: 16px;
  width: 16px;
}
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-settings:hover, .icon-settings.settings_hover, .icon-settings.settings-hover {
  background-position: 0 -222px;
}

/* line 11, ../sass/plugins/_sprites.scss */
*[class^="icon-"] {
  display: inline-block;
}

/* line 19, ../sass/style.scss */
* {
  position: relative;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF333333', endColorstr='#FF3C3C3C');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #999999), color-stop(100%, #333333));
  background-image: -webkit-radial-gradient(center, ellipse cover, #999999 0%, #333333);
  background-image: -moz-radial-gradient(center, ellipse cover, #999999 0%, #333333);
  background-image: -o-radial-gradient(center, ellipse cover, #999999 0%, #333333);
  background-image: radial-gradient(center, ellipse cover, #999999 0%, #333333);
}

/* line 24, ../sass/style.scss */
#logo {
  width: 250px;
  height: 250px;
  border-radius: 8%;
  overflow: hidden;
  background-color: #e80408;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTgwNDA4Ii8+PHN0b3Agb2Zmc2V0PSI0NCUiIHN0b3AtY29sb3I9IiNkNjA0MDciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #e80408), color-stop(44%, #d60407), color-stop(100%, #6d0019));
  background-image: -webkit-radial-gradient(center, ellipse cover, #e80408 0%, #d60407 44%, #6d0019);
  background-image: -moz-radial-gradient(center, ellipse cover, #e80408 0%, #d60407 44%, #6d0019);
  background-image: -o-radial-gradient(center, ellipse cover, #e80408 0%, #d60407 44%, #6d0019);
  background-image: radial-gradient(center, ellipse cover, #e80408 0%, #d60407 44%, #6d0019);
  -webkit-box-shadow: 0 0 30px black, inset 0 0 15px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 30px black, inset 0 0 15px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 30px black, inset 0 0 15px rgba(255, 255, 255, 0.4);
}
/* line 33, ../sass/style.scss */
#logo img {
  width: 100%;
}
/* line 36, ../sass/style.scss */
#logo .reflection {
  width: 80%;
  height: 80%;
  right: 0;
  position: absolute;
  -webkit-border-radius: 5% 16% 5% 95%;
  -moz-border-radius: 5% 16% 5% 95%;
  -ms-border-radius: 5% 16% 5% 95%;
  -o-border-radius: 5% 16% 5% 95%;
  border-radius: 5% 16% 5% 95%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjYpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0));
}

/* line 35, ../sass/style.scss */
#login {
  width: 250px;
  top:50%;
  margin-left:auto;
  margin-right:auto;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
/* line 44, ../sass/style.scss */
#login .container {
  width:250px;
  height:250px;
}
/* line 47, ../sass/style.scss */
#login .container .logo {
  width:250px;
  height:250px;
  top:-125px;
}


#information {
  background: rgba(0,0,0,.5);
  position: fixed;
  left:-350px;
  width: 395px;
  height: 100%;
  top:0;
  font-size: 14px;
  overflow: hidden;
  z-index: 100;
  border-right:45px solid #444;
  -webkit-transition: left .5s 5s;
  -moz-transition: left .5s 5s;
  -ms-transition: left .5s 5s;
  -o-transition: left .5s 5s;
  transition: left .5s 5s;
}

#information:hover {
  left: 0;
  -webkit-transition-delay:0s;
  -moz-transition-delay:0s;
  -ms-transition-delay:0s;
  -o-transition-delay:0s;
  transition-delay:0s;
}

#information .container{
  padding:10px;
}

h1{
  text-align: center;
  cursor: default;
  height:50px;
  width:200px;
  padding:7px;
  margin: 20px auto;
}

p{
  margin:12px 0;
}

button {
  width:110px;
  height:35px;
  margin-left:5px;
  border: 1px solid #222;
  border-radius: 3px;
  color: #333
}
button.fork{
  width:150px;
}

span.title {
  margin-left: 20px;
}
code {
  display: inline-block;
  width:200px;
  padding-left:25px;
}

code.long {
  width:100%;
}

nav {
  display: block;
  position: fixed;
  top: 10px;
  right:10px;
}

@media only screen and (max-width: 767px){
    nav {
      display: none;
    }

    #information {
      display: none;
    }
}



















/* line 91, ../sass/style.scss */

